DialogeOmegaT/*.*
DialogeOmegaT/dictionary/
# DialogeOmegaT/omegat/
DialogeOmegaT/omegat/*.tmx
DialogeOmegaT/omegat/*.bak
DialogeOmegaT/omegat/*.txt
DialogeOmegaT/source/
DialogeOmegaT/target/
# DialogeOmegaT/tm/
DialogeOmegaT/tm/auto/
DialogeOmegaT/glossary/*.txt
!glossary.txt
!Items.txt
!names.txt

ArcholosOmegaT/

# don't work with omegat.project
DialogeOmegaT/omegat.project
last_entry.properties
project_stats.txt
desktop.ini

!DialogeOmegaT/glossary/

!project_save.tmx
!filters.xml
!segmentation.conf
